html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: black;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-image: url("https://res.cloudinary.com/dta6lllnx/image/upload/v1611685344/Chat/3DBLNDRpn2_zl1nfq.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  animation-name: pop;
  animation-duration: 2s;
}
@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.joinInnerContainer {
  width: 20%;
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

.heading {
  color: white;
  /* background-color: black; */
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: black;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
  align-items: center;
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}
